.dialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.close_dialog_button {
  width: fit-content;
  height: fit-content;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 7px;
  background-color: var(--slate-800);
  align-self: flex-end;
}

.close_dialog_button:hover {
  background-color: var(--slate-600);
}


