.cta {
  position: relative;
  width: 100dvw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 1.15rem;
  z-index: 50;
  background-color: rgba(51, 65, 85, 0.5);
  backdrop-filter: blur(6px);
  height: 50dvh;
}

.coding_background {
  position: absolute;
  top:0;
  left: 0;
  width: 100dvw;
  height: 50dvh;
  aspect-ratio: 1 / 1;
  z-index: 10;
}

.header_name {
  font-size: 2rem;
  color: var(--slate-100);
  letter-spacing: 0.05em;
  text-align: center;
  padding: 1rem;
}

.description {
  width: 90dvw;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
  color: var(--slate-100);
  letter-spacing: 0.1em;
  font-weight: 600;
  text-align: center;
}

.button_group {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.reserve_meeting, .view_work {
  box-sizing: border-box;
  cursor: pointer;
  color: var(--slate-900);
  background-color: var(--slate-300);
  border: 1px solid var(--slate-700);
  border-radius: 10px;
  width: 9rem;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
}

.reserve_meeting > p, .view_work > p {
  font-size: 0.8rem;
  color: var(--slate-900);
}

.view_work {
  background-color: var(--emerald-500);
}
.view_work:hover, .view_work:focus {
  background-color: var(--emerald-400);
}
.reserve_meeting:hover, .reserve_meeting:focus {
  background-color: var(--slate-100);
}


/* MD */
@media screen and (min-width: 768px) {
  .header_name {
    font-size: 3.5rem;
  }
}



/* LG */
@media screen and (min-width: 1024px) {
  .header_name {
    font-size: 4.5rem;
  }

  .cta {
    backdrop-filter: blur(8px);
  }

  .description {
    font-size: 1.5rem;
  }

  .reserve_meeting, .view_work {
    width: 10rem;
   }

  .reserve_meeting > p, .view_work > p {
    font-size: 1rem;
    color: var(--slate-900);
  }
}

@media screen and (min-width: 1536px) {
  .header_name {
    font-size: 6rem;
  }

  .description {
    font-size: 2rem;
  }

}
