.filters {
  width: 95dvw;
  height: 100%;
  padding: 1rem;
  position: relative !important;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.filter_button{
  width: 7rem;
  background-color: var(--slate-300);
  color: var(--slate-900);
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.2rem 0.1rem;
}

.filters_dropdown {
  min-width: 7rem;
  display: flex;
  position: absolute !important;
  top: 3rem;
  right: 1rem;
  width: fit-content;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: space-evenly;
  gap: 0.9rem;
  align-items: center;
  margin-top: 0.3rem;
  border-radius: 10px;
  z-index: 70;
  background-color: rgba(203, 213, 225, 0.8);
  backdrop-filter: blur(4px);
}

.filters_dropdown > li {
  width: 100%;
  height: fit-content;
}

.filter_item {
  width: 100%;
  background-color: var(--slate-400);
  color: var(--slate-100);
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.4rem;
  letter-spacing: 0.025em;
}

.filter_item:hover {
  background-color: var(--slate-300);
  color: var(--slate-900);
}

.filter_button:hover{
  background-color: var(--slate-200);
}


@media screen and (min-width: 1536px) {
  .filters_dropdown {
    min-width: 10rem;
    top: 4rem;
  }
  .filter_button {
    width: 10rem;
    font-size: 1.4rem;
  }
  .filter_item {
    font-size: 1.4rem;
  }
}

