.progress_parent {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--gray-300);
  border-radius: 200rem;
  height: 1.25rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.progress {
  box-sizing: border-box;
  background-color: var(--emerald-500);
  border-radius: 200rem;
  height: 1.25rem;
}

